.jobTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.jobTitle {
  font-weight: 600;
}
.company, .location, .salary, .jobPosting {
  color: #666;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}


.contactInfo {
  margin: 20px 0 20px 0;
}
.contact {
  display: flex;
  p {
    margin-left: 5px;
    font-size: 15px;
  }
}
.jobDescription {
  margin-top: 20px;
  font-size: 20px;
  max-width: 500px;
  line-height: 2;
}

.jobPosting {
  color: blue
}

.contactDates {
  margin: 20px;
}

.sent {
  text-decoration: line-through;
}

.small {
  color: red;
  text-align: center;
  font-size: small;
  margin-left: 10px;
}