.job {
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(204, 234, 246);
  }
}
.jobTitle {
  font-weight: 600;
}
.company, .location, .salary, .jobPosting, .contactEmail {
  color: #666;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.active {
  background-color: rgb(173, 225, 246);
}

.status {
  background-color: #285dfb;
  margin-bottom: 10px;
}

.red {
  background-color: red;
  margin-bottom: 10px;
}



