.job {
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(204, 234, 246);
  }
}
.jobTitle {
  font-weight: 600;
}
.company, .location, .salary, .jobPosting {
  color: #666;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.active {
  background-color: rgb(173, 225, 246);
}

.contactInfo {
  margin: 20px 0 20px 0;
}
.contact {
  display: flex;
  p {
    margin-left: 5px;
    font-size: 15px;
  }
}

.jobPosting {
  color: blue
}

.contactDates {
  margin: 20px;
}