.container {
	padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
	width: 80%;
	margin: 0 auto;
}

.title {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.subtitle {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.link { 
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: blue;
	&:hover {
		cursor: pointer;
	}
}