.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;

}

.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}



.sign_in {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  h3 {
    text-align: center;
    font-size: 50px;
    font-family: auto;
  }
}


.tagline {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  
}

