.itemTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.itemTitle {
  font-weight: 600;
}
.company {
  color: #666;
  display: flex;
  align-items: center;
}

.itemPosting {
  color: blue;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.contact {
  display: flex;
  p {
    margin-left: 5px;
    font-size: 15px;
  }
}

.badge {
  margin: 20px 0 10px 0;
}
.status {
  background-color: #285dfb;
}

.itemDescription {
  margin-top: 20px;
  font-size: 1rem;
  max-width: 500px;
  line-height: 1.6;
  white-space: pre-wrap;
}
