.container {

  max-width: fit-content;
  justify-self: center;
}
.text {
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;

}
.seperator {
  margin-top: 10px;
  background-color: #12a1bf;
  height: 2px;
}

