@use "./tokens.module" as *;
.block { display: grid; gap: .5rem; }
.h2 { font-size: 1.25rem; font-weight: 600; }
.ul { margin-left: 1.25rem; list-style: disc; display: grid; gap: .3rem; font-size: .95rem; }
.strong { font-weight: 600; }

